<div class="row">
  <div class="container">
    <div class="row yellow z-depth-5 content">
      <h1 class="center">Eat-Da-Burger!!!!</h1>
      <div class="center">
        <img src="/assets/img/burger.jpg" width="300">
      </div>

      <div class="burgers row center">
        <div class="not-devoured col s6">
          <h2>Available</h2>
          <ul>
            {{#each burgers}}
            {{#unless devoured}}
            <li>
              <h4>
                {{burger_name}}
              </h4>
              <a class="waves-effect waves-light btn black devour" value={{id}}>Devour!</a>
            </li>
            {{/unless}}
            {{/each}}
          </ul>
        </div>

        <div class="devoured col s6">
          <h2>Already Eaten</h2>
          <ul>
            {{#each burgers}}
            {{#if devoured}}
            <li>
              <h4>
                {{burger_name}}
              </h4>
            </li>
            {{/if}}
            {{/each}}
          </ul>
        </div>
      </div>
      <div class="row">
        <form class="col s12 create-form">
          <div class="row">
            <div class="col s4"></div>
            <div class="col s4">
              <div class="input-field center">
                <input id="burger_name" type="text" class="validate" name="burger_name">
                <label for="burger_name">Add a Burger!</label>
              </div>
              <a class="waves-effect waves-light btn black submit">Add!</a>
            </div>
            <div class="col s4"></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>